.App .nav
{
  background-color: #232f3e;
  color:white;
}
.dataimg img
{
  border-radius: 10px;
  height: 250px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 2px 2px 2px 2px rgb(41, 39, 39);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border: 1px solid black;
}
.detail
{
  margin-top: 20px;
  margin-left: 25px;
  font-size: 18px;
}
.rat
{
  padding: 2px 5px;
}
.p1
{
  margin-bottom: 20px;
}
.btn1
{
  background-color: #6998AB;
  color:black;
  padding: 5px 10px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  left: 25%;
}
.btn1:hover
{
  background-color: #6998AB;
  color:black;
}
.foot1
{
  margin-top: 20px;
  background-color: #232f3e;
  color:white;
}